@charset "utf-8";
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit
}
body{
    line-height: 1;
    color: #333;
    font-family: 'twayair'; 
}
#section0 {
    position: relative;
}
#section0 p{
    color: rgba(255, 255, 255, 0.685);
    font-size: 25px;
    position: absolute;
    left: 170px;
    top:  35%;
}
#section0 h2{
    font-size: 70px;
    font-family: 'ImcreSoojin';
    position: absolute;
    left: 180px;
    top:  35%;
}